<div class="filecontainer">
    <div class="fileinfo">
        <a href="/files/orig/{{this.name}}/{{this.orig_name}}">{{short this.orig_name}}</a>
        <br>
        (
        {{#if this.information}}
            {{this.information}}
        {{else}}
            {{id3 this.id3_name this.id3_artist this.id3_length this.id3_bitrate}}
        {{/if}}

        {{this.size}}
        )
    </div>
    {{#or this.video this.audio}}
        <a href="/files/orig/{{this.name}}/{{url this.orig_name}}" class="media-container">

            {{#if this.thumb_ext}}
                <img class="post-image" loading="lazy" src="/files/thumb/{{this.name}}/thumb.{{this.thumb_ext}}" alt="{{this.orig_name}}">
            {{/if}}
            <div class="play-media">
                <div class="play">
                    <img src="/images/play.png" class="play" alt="Play">
                </div>
            </div>{{#if this.thumb_ext}}
            <video src="/files/orig/{{this.name}}/{{url this.orig_name}}"
                   poster="/files/thumb/{{this.name}}/thumb.{{this.thumb_ext}}"
                   playsinline
                   loop
                   preload="none"
                   class="video invisible"
                   controls>
            </video>
            {{else}}
            <video src="/files/orig/{{this.name}}/{{url this.orig_name}}"
                   playsinline
                   loop
                   preload="none"
                   class="video nothumb">
            {{/if}}
            </video>
        </a>
        <div class="bottom-options invisible">
            <button class="exit">Piilota upote</button>
        </div>
    {{else}}
        <a href="/files/orig/{{this.name}}/{{url this.orig_name}}" class="thumb" style="min-height:{{this.thumb_height}}px">
            <img class="post-image thumb-image" loading="lazy" src="/files/thumb/{{this.name}}/{{url this.thumb_name}}" alt="{{this.thumb_name}}">
            <img class="post-image orig-image" loading="lazy" src="/files/orig/{{this.name}}/{{url this.orig_name}}" alt="{{this.orig_name}}">
        </a>
    {{/or}}
</div>
