<div class="nav-pages">
    <a href="/{{board.url}}" class="button">{{t "first"}}</a>
    {{#if nav.first}}
        <span class="button-unclickable">{{t "previous"}}</span>
    {{else}}
        <a href="/{{board.url}}-{{nav.previous}}" class="button">{{ t "previous"}}</a>
    {{/if}}

    {{#each nav.pages}}
        {{#if this.current}}
            <span class="nav-current nav-page-link">{{this.page}}</span>
        {{else}}
            <a class="nav-page-link" href="/{{../board.url}}-{{this.page}}">{{this.page}}</a>
        {{/if}}
    {{/each}}

    {{#if nav.last}}
        <span class="button-unclickable">{{t "next"}}</span>
    {{else}}
        <a href="/{{board.url}}-{{nav.next}}" class="button">{{ t "next"}}</a>
    {{/if}}
</div>
