<div class="common-top">
    <div id="board-actions">
        {{#if user.mod }}
            <a href="/{{board.url}}/mod" class="button">{{t "board_edit"}}</a>
        {{/if}}
    </div>

    <p class="title">
        {{#if board.collection}}
            {{t board.name}}
        {{else}}
            {{board.name}}
        {{/if}}

        {{#unless board.collection}}
            {{#if board.worksafe}}
                <span class="sfw">( SFW )</span>
            {{else}}
                <span class="nsfw">( NSFW )</span>
            {{/if}}
        {{/unless}}
    </p>
    <p class="title_sub">{{board.description}}</p>

    <div class="stats">
        {{stats.hourly_users}} ({{stats.daily_users}})
    </div>

    <hr class="horline"/>
    {{#unless board.collection}}
        {{#if @root.user.banned}}
            <div class="notice">
                {{t "banned" }}:
                {{#if @root.user.ban_message}}
                    {{@root.user.ban_message}}
                {{else}}
                    {{t "no_reason"}}
                {{/if}}
            </div>
        {{else}}
            {{> postform}}
        {{/if}}
    {{/unless}}
</div>
