<form class="postform" action="/post/create" method="post" enctype="multipart/form-data">
    {{#if thread}}
        <input type="hidden" name=thread_id value="{{thread.id}}">
    {{else}}
        <input type="hidden" name="thread_id" value="0">
    {{/if}}
    <input type="hidden" name="board_id" value="{{board.id}}">

    <div style="display: none">
        <input type="text" title="Email" name="email">
        <input type="text" title="First name" name="firstname">
        <input type="text" title="Last name" name="lastname">
        <input type="text" title="Web site" name="website">
    </div>
    <div class="postform-content">

        <label class="postform-label" class="label">{{t "selections"}}</label>
        <div class="postform-field">
            <div class="postform-selections">
                <input type="checkbox" name="posted_by_op" id="posted_by_op" checked>
                <label for="posted_by_op">{{t "op"}}</label>
                {{#if @root.user.admin}}
                    <input type="checkbox" name="posted_by_admin" id="posted_by_admin">
                    <label for="posted_by_admin">{{t "admin"}}</label>
                {{/if}}
                {{#if @root.user.mod}}
                    <input type="checkbox" name="posted_by_mod" id="posted_by_mod">
                    <label for="posted_by_mod">{{t "mod"}}</label>
                {{/if}}
            </div>
            <!-- TODO namefield looks broken, probably -->
            {{#if board.namefield}}
                <label class="postform-label" for="name">{{t "name"}}</label>
                <input type="text" name="name" id="name">
                {{#if board.only_tripcodes}}
                    <span id="namefield-notify">{{t "only_tripcodes_allowed"}}</span>
                {{/if}}
            {{/if}}
            <div class="postform-selections">
                <input type="checkbox" name="sage" id="sage">
                <label for="sage">{{t "sage"}}</label>
                <input type="checkbox" name="rage" id="rage">
                <label for="rage">{{t "rage"}}</label>
                <input type="checkbox" name="love" id="love">
                <label for="love">{{t "love"}}</label>
                <input type="checkbox" name="noko" id="noko">
                <label for="noko">{{t "noko"}}</label>
            </div>
        </div>

        <label class="postform-label" for="subject" class="label">{{t "subject"}}</label>
        <input type="text" name="subject" id="subject">

        <label class="postform-label" for="textarea-message" class="label">{{t "message"}}</label>
        <textarea name="message" id="textarea-message"></textarea>

        <label class="postform-label" for="embed_code" class="label">{{t "embed"}}</label>
        <input type="text" name="embed_code" id="embed_code">
        <a href="#" class="tooltip">
            {{t "embed_help"}}
            <div class="tooltip-out">
                <div class="help-tooltip-header">
                    {{t "copy_this"}}
                </div>
                <div class="embed-sources">
                    {{#each embed_sources}}
                        <b>{{this.name}}: </b>{{{this.help}}}
                        <br>
                    {{/each}}
                </div>
            </div>
        </a>
        <select name="embed_source" id="embed_source" title="{{t "embed_source"}}">
            {{#each embed_sources}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="attachments" class="postform-label">{{t "attachments"}}</label>
        <input type="file" multiple name="attachments" id="attachments">
    </div>
    <div class="supported-formats">
        <h3>{{t "supported_formats_are"}}</h3>
        <div class="file-format-list">{{join supported_formats}}</div>
    </div>
    <button type="submit" name="{{t "submit"}}" id="submit" class="postform-button">{{t "submit"}}</button>
</form>