<div class="postinfo">
    {{#if @root.board.collection}}
        {{#unless this.thread}}
            <p class="location">
                {{t "thread_location"}} <a href="/{{this.board.url}}">/{{this.board.url}}/ - {{this.board.name}}</a>
            </p>
        {{/unless}}
    {{/if}}

    {{#unless this.thread}}
        <h3 class="post-subject">
            {{this.subject}}
        </h3>
    {{/unless}}


    <!--<input type="checkbox" id="select-{{this.id}}" class="select">-->
    <div class="post-inforow">
        {{#if this.board.international }}
            {{#if this.geoip_country_code}}
                <img alt="{{this.geoip_country_code}}" src="/flags/png/{{this.geoip_coutnry_code}}.png">
            {{/if}}
        {{/if}}

        {{#if this.posted_by_op}}
            <span class="op-post">(OP)</span>
        {{/if}}

        {{#unless user.hide_names}}
            {{#if this.name}}
                <span class="post-name">{{this.name}}</span>
            {{/if}}
            {{#if this.tripcode}}
                <span class="post-tripcode">{{this.tripcode}}</span>
            {{/if}}
        {{/unless}}

        <span>{{time this.created_at}}</span>

        {{#if this.mod}}
            <span class="adminpost">
                #admin#
            </span>
        {{/if}}
        {{#if this.posted_by_mod}}
            <span class="modpost">
                #mod#
            </span>
        {{/if}}

        {{#unless this.thread}}
            <span>No: <a class="quote-link" href="/{{this.board.url}}/{{this.id}}#q_{{this.id}}">{{this.id}}</a></span>
        {{else}}
            <span>No: <a class="quote-link" href="/{{this.board.url}}/{{this.thread}}#q_{{this.id}}">{{this.id}}</a></span>
        {{/unless}}

        {{#if this.sticky}}
            <img src="/images/icon-sticky.png" alt="sticky">
        {{/if}}

        {{#if this.locked}}
            <img src="/images/icon-locked.png" alt="locked">
        {{/if}}
        <a href="/post/{{this.id}}/hide" id="hide-thread-{{this.id}}" class="hide-thread"><img src="/images/icon-hide.png" alt="hide"></a>
        <a href="/reports" data-board-url="{{this.board.url}}" class="report-post"><img src="/images/report.png" alt="report"></a>

        {{#if this.sage}}
            <span class="post-sage">Sage</span>
        {{/if}}
        {{#and this.rage this.love}}
            <span class="post-tsundere">Tsundere!</span>
        {{else}}
            {{#if this.rage}}
                <span class="post-rage">Rage!</span>
            {{/if}}
            {{#if this.love}}
                <span class="post-love">Love</span>
            {{/if}}
        {{/and}}

        {{#unless this.hide_reply_button}}
            <a href="{{this.board.url}}/{{this.id}}" class="button">{{t "reply"}}</a>
        {{/unless}}

        {{#contains @root.user.permissions "ban"}}
            <a href="#" data-post-id="{{this.id}}" class="button ban-button">{{t "ban"}}</a>
        {{/contains}}

        {{#contains @root.user.permissions "delete_posts"}}
            <a href="#" data-post-id="{{this.id}}" data-board-url="{{this.board.url}}" class="button delete-button">{{t "delete"}}</a>
        {{/contains}}

        {{#unless this.thread}}
            {{#contains @root.user.permissions "stick_threads"}}
                {{#if this.sticky}}
                    <a href="{{this.board.url}}/unstick/{{this.id}}" class="button">{{t "unstick"}}</a>
                {{else}}
                    <a href="{{this.board.url}}/stick/{{this.id}}" class="button">{{t "stick"}}</a>
                {{/if}}
            {{/contains}}
        {{/unless}}

        {{#contains @root.user.permissions lock_threads}}
            {{#if this.locked}}
                <a href="{{this.board.url}}/unlock/{{this.id}}" class="button">{{t "unlock"}}</a>
            {{else}}
                <a href="{{this.board.url}}/lock/{{this.id}}" class="button">{{t "lock"}}</a>
            {{/if}}
        {{/contains}}
    </div>

    {{{this.modinfo}}}
</div>

{{#if this.embed}}
    <div class="file_multiple">
        {{{this.embed}}}
    </div>
{{/if}}

{{#if this.attachments}}
    <div class="file_multiple">
        {{#each this.attachments}}
            {{> attachment}}
        {{/each}}
    </div>
{{/if}}

<div class="post">
    <p>{{{raw this.text}}}</p>
</div>
