<h2>{{ t "board_settings"}}</h2>
    {{#unless user.password}}
        <p>{{t "cannot_have_created"}}</p>
    {{else}}
    {{#unless user.boards}}
        <p>{{t "no_boards"}}</p>
    {{/unless}}
    <div class="boards">
        {{#each user.boards}}
            <div>{{this.name}}</div>
            <a href="/{{this.url}}/mod">{{t "board_edit"}}</a>
        {{/each}}
    </div>
    <!-- TODO
    <a href="/createboard">{{t "create_board"}}</a>
    -->
{{/unless}}
