<div class="tabs">
    <div class="tab-links">
        <button data-target="general" class="tablink active">{{t "general_settings"}}</button>
        <button data-target="account" class="tablink">{{ t "account_settings"}}</button>
        <button data-target="boards" class="tablink">{{t "board_settings"}}</button>
    </div>
    <div class="horline tab-horline"></div>
    <div class="tab-content">
        <div id="general" class="tab">
            {{> settings_general}}
        </div>
        <div id="account" class="tab hidden">
            {{> settings_account}}
        </div>
        <div id="boards" class="tab hidden">
            {{> settings_boards}}
        </div>
    </div>
</div>
