<h2>{{t "general_settings"}}</h2>
<form action="/user/edit" method="post">
    <div class="settings-grid">
        <label for="settings_stylesheet">{{t "stylesheet"}}</label>
        <select name="stylesheet" id="settings_stylesheet" class="settings-select user-input-select">
            <option value="northboard" {{#if user.northboard}}selected{{/if}}>Northboard</option>
            <option value="dark" {{#if user.dark}}selected{{/if}}>Dark</option>
            <option value="orange" {{#if user.orange}}selected{{/if}}>Orange</option>
            <option value="yotsuba" {{#if user.yotsuba}}selected{{/if}}>Yotsuba</option>
        </select>

        <label for="settings_return_after_post">{{t "return_after_post" }}</label>
        <select name="post_noko" id="settings_return_after_post" class="settings-select user-input-select">
            <option value="0" {{#if user.return0}}selected{{/if}}>{{t "board"}}</option>
            <option value="1" {{#if user.return1}}selected{{/if}}>{{t "thread"}}</option>
            <option value="2" {{#if user.return2}}selected{{/if}}>{{t "overboard"}}</option>
        </select>

        <label for="settings_locale">{{t "language"}}</label>
        <select name="locale" id="settings_locale" class="settings-select user-input-select">
            <option value="en-US" {{#if user.en-US}}selected{{/if}}>{{t "english"}}</option>
            <option value="fi-FI" {{#if user.fi-FI}}selected{{/if}}>{{t "finnish"}}</option>
        </select>
    </div>

    <div class="settings-grid checkbox-grid">
        <label for="user_save_scroll" title="{{t "dont_scroll_title"}}">{{t "dont_scroll"}}</label>
        <input type="checkbox" name="save_scroll" class="user-input" id="user_save_scroll" {{#if user.save_scroll}}checked{{/if}}>

        <label for="user_hide_names" title="{{t "anonymize_all_title"}}">{{t "anonymize_all"}}</label>
        <input type="checkbox" name="hide_names" class="user-input" id="user_hide_names" {{#if user.hide_names}}checked{{/if}}>

        <label for="user_hide_region" title="{{t "hide_region_title"}}">{{t "hide_region"}}</label>
        <input type="checkbox" name="hide_region" class="user-input" id="user_hide_region" {{#if user.hide_region}}checked{{/if}}>
    </div>
<!--
    <h3>{{t "Performance"}}</h3>

    <div class="settings-grid checkbox-grid">
        <span>{{t "unchecking_notice"}}</span>
        <label for="user_autoload_media">{{t "autoload_media"}}</label>
        <input type="checkbox" name="autoload_media" class="user-input" id="user_autoload_media" {{#if user.autoload_media}}checked{{/if}}>

        <label for="user_autoplay_gifs">{{t "autoplay_gifs"}}</label>
        <input type="checkbox" name="autoplay_gifs" class="user-input" id="user_autoplay_gifs" {{#if user.autoplay_gifs}}checked{{/if}}>
    </div>
    -->
</form>

<h3>{{ t "hidden_threads"}}</h3>

<div class="hidden-threads">
    {{#each user.hidden_threads}}
        <div class="hidden_thread" data-post-id="{{this.post}}">
            <div>
                ID: {{this.post}}
            </div>
            <div>
                {{ellipsis this.subject 10}}
            </div>
            <div>
                <div>
                    {{time this.created_at}}
                </div>
            </div>
            <a href="#" class="unhide" data-post-id="{{this.post}}" title="{{t "restore_thread"}}">
                <img src="/images/icon-restore.png" alt="restore">
            </a>
        </div>
    {{/each}}
</div>
