<h2>{{t "account_settings"}}</h2>
{{#unless user.password}}
    <h3>{{t "no_account"}}</h3>

    <div class="tooltip">
        {{t "why_account_header"}}
        <span class="tooltip-text">{{t "why_account"}}</span>
    </div>

    <hr class="horline"/>

    <div class="settings-section">
        <h3>{{t "login"}}</h3>
        <form method="post" class="settings-form settings-grid" action="/user/login">
            <label for="login_username">{{t "username"}}</label>
            <input type="text" id="login_username" name="username">

            <label for="login_password">{{t "password"}}</label>
            <input type="password" id="login_password" name="password">

            <button type="submit" class="submit" name="login" value="{{t "login"}}">{{t "login"}}</button>
        </form>
    </div>

    <hr class="horline"/>

    <div class="settings-section">
        <h3>{{t "create_account"}}</h3>
        <form action="/user/create" class="settings-form settings-grid" method="post">
            <label for="account_username">{{t "username"}}</label>
            <input type="text" name="username" id="account_username">

            <label for="account_password">{{t "password"}}</label>
            <input type="password" name="password" id="account_password">

            <label for="account_password_again">{{t "password_again"}}</label>
            <input type="password" name="password_again" id="account_password_again">

            <button type="submit" class="submit" name="create_account" value="{{t "create_account"}}">{{t "login"}}</button>
        </form>
    </div>
{{else}}
    <div class="settings-section">
        <h3>{{t "change_password"}}</h3>
        <form action="/user/changepassword" class="settings-form settings-grid" method="post">
            <label for="change_password_password">{{t "old_password"}}</label>
            <input type="password" id="change_password_password" name="old_password">

            <label for="change_password_new_password">{{t "new_password"}}</label>
            <input type="password" id="change_password_new_password" name="new_password">

            <label for="change_password_new_password_again">{{t "new_password_again"}}</label>
            <input type="password" id="change_password_new_password_again" name="new_password_2">

            <button type="submit" class="button" name="change_password2" value="{{t "change_password2"}}">{{t "change_password2"}}</button>
        </form>
    </div>

    <hr class="horline"/>

    <h3>{{t "active_logins"}}</h3>
    <div class="active-logins">
        <div class="cell">
            {{t "login_source"}}
        </div>
        <div class="cell">
            {{t "login_time"}}
        </div>
        <div class="cell">
            {{t "login_last_load"}}
        </div>
        <div class="cell">
            {{t "login_actions"}}
        </div>
        {{#each user.logins}}
            <div class="cell">
                {{this.source}}
            </div>
            <div class="cell">
                {{time this.created_at}}
            </div>
            <div class="cell">
                {{time this.modified_at}}
            </div>
            <div class="cell">
                {{#if this.current}}
                    {{t "current_session"}}
                {{else}}
                    <a href="/user/logout/{{this.id}}">{{t "logout"}}</a>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/unless}}
