<div class="thread hide-replace" data-id="{{this.id}}">
    <div id="answer-{{this.id}}" data-id="{{this.id}}" class="first">
        {{> post}}
        <div class="answers">
                {{#if this.show_expand}}
                    <span class="expand">
                        <a href="">{{this.omitted}} {{t "messages_omitted"}}</a>
                    </span>
                {{/if}}

                {{#if this.show_contract}}
                    <span class="contract">
                        <a href="">{{t "hide_messages"}}</a>
                    </span>
                {{/if}}

            {{#each this.replies}}
                <div class="answercontainer hide-replace">
                    <div id="answer-{{this.id}}" data-id="{{this.id}}" class="answer">
                        {{> post}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
