<div id="singleanswer-{{post.id}}" class="answer">
    <div class="postinfo">
        {{#if post.name}}
            <span class="post-name">{{post.name}}</span>
        {{/if}}
        {{#if post.tripcode}}
            <span class="post-tripcode">{{post.tripcode}}</span>
        {{/if}}
        {{time post.created_at}}
        {{#if post.mod}}
            <span class="adminpost">
                #admin#
            </span>
        {{/if}}
        {{#if post.posted_by_mod}}
            <span class="modpost">
                #mod#
            </span>
        {{/if}}
        No. <a href="{{post.board.url}}/{{post.thread_id}}#q_{{post.id}}">{{post.id}}</a>
    </div>

    {{#if post.attachments}}
        <div class="file_multiple">
            {{#each post.attachments}}
                {{> attachment}}
            {{/each}}
        </div>
    {{/if}}

    <div class="post">
        <p>{{{raw post.text}}}</p>
    </div>
</div>
