<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#191919">
    <meta http-equiv="Content-Language" content="fi">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    {{#if user.stylesheet }}
        <link rel="stylesheet" type="text/css" href="/stylesheets/{{user.stylesheet}}">
    {{else}}
        <link rel="stylesheet" type="text/css" href="/stylesheets/northboard.css">
    {{/if}}
    <link rel="icon" href="/images/icon.png">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>

    <!-- WIP modularization of js
    <script type="module" src="/javascripts/index.js"></script>
    -->
    <script src="/javascripts/hashchange.js"></script>
    <script src="/javascripts/global/boards.js"></script>
    <script src="/javascripts/global/posts.js"></script>
    <script src="/javascripts/global/users.js"></script>
    <script src="/javascripts/global/chat_message.js"></script>
    <script src="/javascripts/hashchange.js"></script>
    {{#unless user.save_scroll}}
        <script>
            $(window).on("unload", function() {
                window.scrollTo(0,0);
                window.location.reload();
            });
        </script>
    {{/unless}}
</head>
<body data-no-turbolink="true">
<div class="loading-cache"><img src="/images/loading.gif"></div>
<div id="wrapper">

    <div id="right">
        <div class="boardnav">
            <nav class="navigation">
                <a class="nav-page" href="/">{{t "front_page"}}</a>
                <a class="nav-page" href="/mythreads">{{t "my_threads"}}</a>
                <a class="nav-page" href="/repliedthreads">{{t "replied_threads"}}</a>
                <a class="nav-page" href="/ukko">{{t "ukko"}}</a>
                <div class="nav-boards">
                    {{#each boards}}
                        <a class="nav-board" href="/{{this.url}}">/{{this.url}}/ - {{this.name}}</a>
                    {{/each}}
                </div>
            </nav>
            <div class="navigation-mobile">
                <a class="nav-dropdown" data-dropdown="#menu-dropdown">
                    <img src="/images/menu.svg" alt="{{t "menu"}}"/>
                </a>
                <div class="dropdown" id="menu-dropdown">
                    <nav id="dropdown-navigation">
                        <a href="/">{{t "front_page"}}</a>
                        <a href="/mythreads">{{t "my_threads"}}</a>
                        <a href="/repliedthreads">{{t "replied_threads"}}</a>
                        <a href="/ukko">{{t "ukko"}}</a>
                        {{#each boards}}
                            <a href="/{{this.url}}">/{{this.url}}/ - {{this.name}}</a>
                        {{/each}}
                    </nav>
                </div>
            </div>
            <div class="settings">
                {{#unless user.password }}
                    <span class="username-label">{{t "not_logged_in"}}</span>
                    <div></div>
                {{else}}
                    <span class="username-label">{{user.username}}</span>
                    <a href="/user/logout">{{t "logout"}}</a>
                {{/unless}}
                <a href="/settings" id="settings-icon" data-dropdown="#settings-dropdown"><img src="/images/settings.png"></a>
                <div id="settings-dropdown" class="dropdown">
                    {{> settings}}
                </div>
            </div>
        </div>

        {{{body}}}

        <div id="post-operations">
            <a id="select-all" href="#">Select all</a>
            <div></div>
            <!--
            <a id="image-download" class="button" href="">{{t "download_images"}}</a>
            <input type="text" name="filename" title="{{t "filename"}}" placeholder="{{t "filename"}}" id="filename-field">
            -->
            <a id="post-delete" class="button" href="">{{t "delete_selected_posts"}}</a>
        </div>

        <form action="/deleteposts" method="post">

        </form>
        <div class="singlepost-tooltip">
            <div class="tooltip-content">

            </div>
        </div>
        <div class="report">
            <form action="/reports" method="post" id="report-post">
                <h3>{{t "how_breaks_rules"}}</h3>
                <div class="report-contents">
                    <label for="reason">{{t "reason"}}</label>
                    <select name="reason" id="reason"></select>
                    <label for="report-description">{{t "description"}}</label>
                    <textarea name="description" id="report-description"></textarea>
                    <input name="post" id="report-post-id" type="hidden">
                </div>
                <input type="submit" value="{{t "submit"}}">
            </form>
        </div>
        <div class="ban">
            <form action="/ban" method="post" id="ban-user">
                <h3>{{t "ban_user"}}</h3>
                <div class="report-contents">
                    <label for="ban-reason">{{t "ban_reason"}}</label>
                    <input type="text" name="reason" id="ban-reason">
                    <label for="ban-duration">{{t "ban_duration"}}</label>
                    <input type="number" name="duration" id="ban-duration">
                    <div class="duration-buttons">
                        <a href="#" data-duration="-31536000">-1y</a>
                        <a href="#" data-duration="-2592000">-30d</a>
                        <a href="#" data-duration="-604800">-7d</a>
                        <a href="#" data-duration="-86400">-1d</a>
                        <a href="#" data-duration="-3600">-1h</a>
                        <span>{{t "edit"}}</span>
                        <a href="#" data-duration="3600">+1h</a>
                        <a href="#" data-duration="86400">+1d</a>
                        <a href="#" data-duration="604800">+7d</a>
                        <a href="#" data-duration="2592000">+30d</a>
                        <a href="#" data-duration="31536000">+1y</a>
                    </div>
                    <label for="ban-note">{{t "ban_note"}}</label>
                    <textarea name="note" id="ban-note"></textarea>
                    {{#if user.admin}}
                        <div class="ban-global">
                            <input id="ban-global" name="ban_global" type="checkbox">
                            <label for="ban-global">
                                {{t "global"}}
                            </label>
                        </div>
                    {{/if}}
                    <input name="post_id" id="ban-post-id" type="hidden">
                </div>
                <input type="submit" value="{{t "submit"}}">
            </form>
        </div>
        <div id="footer">
        </div>
    </div>
</div>
</body>
</html>
