<h1>Pohjoislauta</h1>
<p class="title_sub">Pohjoislauta - suomalaisen vapauspuolustamisen sanapuhuja.</p>
<div class="horline"></div>
<div id="frontpage-content">
    <div id="news">
        <h1>Sivun uutiset:</h1>
        {{#if user.admin }}
            <div id="postform-frontpage">
                <form action="/frontpagepost" method="post">
                    <label for="subject">{{t "subject"}}</label>
                    <br>
                    <input type="text" name="subject" id="subject">
                    <br>
                    <label for="text">{{t "text"}}</label>
                    <br>
                    <textarea name="text" id="text"></textarea>
                    <br>
                    <input type="submit" name="Create new frontpage post" value="Submit" class="button">
                </form>
            </div>
        {{/if}}
        {{#each posts}}
            <div class="fp-post">
                <div class="fp-postinfo">
                    {{this.subject}} by {{this.user.username}} at {{time this.created_at}}
                </div>
                <p>
                    {{this.text}}
                </p>
            </div>
        {{/each}}

    </div>
    <div id="mainstuff">
        <h2>Tervetuloa pohjoislaudalle!</h2>
        <p>
            Pohjoislauta on suomalainen kuvalauta, joka sai alkunsa kuuluisan northpolen suljettua ovensa
            2014. Pohjoislauta on täysin anonyymi, eikä viestien lähettämiseen tarvita käyttäjätunnusta - vaikka
            sellaisen voi tehdä halutessaan helpottamaan asetusten tallentamista.
            Lauta käyttää muista pienlaudoista poiketen kotikutoista <i>HankiBoard 2</i>-lautaohjelmistoa, joka
            tulevaisuudessa sallii muun muassa omien alalautojen luomisen.
        </p>
        <p>
            Pohjoislaudalla keskustelunaiheet ovat vapaavalintaisia ja sananvapaus pyritään säilyttämään,
            mutta joillakin alalaudoilla saattaa olla omia aluekohtaisia sääntöjä.
        </p>
    </div>
    <!--
    <div id="mainstuff">
        <p>
        <div id="twobuttons">
            <a class="button" href="/browse">Selaa keskustelualueita</a>
        </div>

        <div class="chat-container">
            <div id="chat-top">
            </div>
            <div id="chat-middle">
                <div id="chat-messages">

                </div>
                <div id="chat-online">
                    <b>Users online:</b>
                    <div id="chat-online-list">

                    </div>
                </div>
            </div>
            <div id="chat-bottom">
                <div id="messagefield-container">
                    <textarea name="message" id="message"></textarea>
                </div>
                <div id="submit-container">
                    <input type="submit" name="Send" id="submit">
                </div>
            </div>
        </div>
    </div> -->
</div>
