<h1>{{t "global_unchecked_reports"}}</h1>

{{#unless reports}}
    {{t "no_unchecked_reports"}}
{{else}}
    <div id="reports-table">
        <div class="row">
            <div class="cell">
                {{t "reports_board"}}
            </div>
            <div class="cell">
                {{t "post"}}
            </div>
            <div class="cell">
                {{t "reason"}}
            </div>
            <div class="cell">
                {{t "description"}}
            </div>
            <div class="cell">
                {{t "date"}}
            </div>
            <div class="cell">
                {{t "status"}}
            </div>
        </div>

        {{#each reports}}
            <div class="row">
                <div class="cell">
                    /{{this.board_url}}/
                </div>
                <div class="cell">
                    <a href="/redirect/{{this.post}}">&gt;&gt;{{this.post}}</a>
                </div>
                <div class="cell">
                    {{this.reason}}
                </div>
                <div class="cell">
                    {{this.description}}
                </div>
                <div class="cell">
                    {{time this.created_at}}
                </div>
                <div class="cell">
                    <a data-delete href="/reports/{{this.id}}">{{t "checked"}}</a>
                </div>
            </div>
        {{/each}}
    </div>
{{/unless}}
