html {
    background: #191919;
}

body {
    font: 12px/1.5em Verdana, "DejaVu Sans", Sans-serif;
    background: #191919;
    color: white;
}

input:focus, textarea:focus, button:focus, select:focus {
    outline: 1px dashed #60a0dc;
}

button, [class^="button"] {
    border: 1px solid #60a0dc;
    color: white;
    background: #222;
    border-radius: 3px;
    padding: 0.33em;
    margin: 0 0.5em;
    text-decoration: none;
    display: inline-block;
    min-width: 2em;
    text-align: center;
}

[class^="button"]:visited {
    color: white;
}

button:hover, [class^="button"]:hover {
    background-color: #444;
}

.button-unclickable {
    border: 1px dotted #60a0dc;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button-unclickable:hover {
    background-color: #222;
}

.title {
    color: #60a0dc;
    font-size: 32px;
}

h2, h3 {
    color: #60a0dc;
}

.tooltip {
    color: #60a0dc;
}

.highlight {
    border: 5px dashed #60a0dc;
    border-radius: 5px;
}
.op-post {
    color: green;
    font-weight: bold;
}

/* frontpage */
#news {
   border: 4px double #60a0dc;
}

.fp-post {
    background-color: #343439;
    border: 1px solid #60a0dc;
    border-radius: 3px;
}

.fp-postinfo {
    background-color: #202020;
    border-bottom: 1px solid black;
}

/* search */
.searchresults div[class^="cell"] {
   border: 1px solid white;
}

/* tooltips */
a.tooltip:hover .tooltip-out {
   border:1px solid #60a0dc;
}

.singlepost-tooltip div[id^="answer"] {
    border: 1px solid #60a0dc;
    border-radius: 5px;
}

a.tooltip .tooltip-out {
    font-size: 1.2em;
    border: 1px solid #60a0dc;
    border-radius: 5px;
    background-color: #252525;
    color: white;
}

.tooltip:hover .tooltip-text {
    border-radius: 3px;
    padding: 0.5em;
    border: 1px solid #60a0dc;
    background-color: #252525;
    width: 25em;
    left: 0;
    bottom: 1.5em;
}

/* general */
.boardnav {
   background: #393939;
   font-size: 0.9em;
   box-shadow: 1px 1px 5px 0px #000000;
   border-radius: 2px;
}

#post-operations {
    background-color: #1C1C1C;
    border: 1px solid black;
}

.notice {
    background-color: #60a0dc;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.report, .ban {
    background-color: black;
    border: 1px solid #999;
    box-shadow: 0px 0px 20px 0px #000;
}
.report input {
    border: 1px solid #000;
    background-color: #AAA;
}
select, input {
    background-color: #aaa;
    border: 1px solid #888;
    color: #000;
}

/* sidebar */
#left {
   background: black;
   font-size: 0.95em;
}
#uname, #password {
    background: #444;
    color: white;
    border: 2px inset #60a0dc;
}

#left h1 {
    background-color: #60a0dc;
    color: #000;
    font-size: 1.4em;
    border-radius: 5px;
}
#left .header {
    background-color: #60a0dc;
    color: #000;
    border-radius: 2px;
}
#left .category {
    font-weight: bold;
    line-height: 14px;
    color: white;
}
#left .ukkoElement {
    line-height: 14px;
}
#ukko {
    background: #0D0D0D;
}
#ukko .fb-header {
    line-height: 20px;
    background-color: #601111;
    font-weight: bold;
}

#left a {
    line-height: 14px;
    text-decoration: none;
    border-radius: 3px;
}
#left a:hover {
    background: #206098;
}

/* postform */
.postform-content .left-cell label {
    font-weight: bold;
}
.postform-content input[type="text"] {
    border: 1px solid black;
    background-color: #AAAAAA;
}
.postform-content input[type="password"] {
    border: 1px solid black;
}
.postform-content #submit {
    border: 1px solid black;
    background: #60a0dc;
}
.postform-content #submit:hover {
    background: #ccc;
}
textarea {
    border: 1px solid black;
    background-color: #AAAAAA;
}
#postform-frontpage input[type="text"] {
    border: 1px solid black;
    background-color: #AAAAAA;
}

/* other */
.title_sub {
   font-style: oblique;
}
.postform-label {
    background-color: #333;
    color: #60a0dc;
    border: 1px solid #444;
}
.help-tooltip-header {
    background-color: #60a0dc;
    color: black;
}
#namefield-notify {
    color: #60a0dc;
    font-weight: bold;
}
h1 {
    color: #60a0dc;
}
a {
    color: #60a0dc;
}
a:hover {
    text-decoration: none;
}
a:visited {
    color: #60a0dc;
}

/*adminpanel */
.yes {
   color: #0F0;
   font-weight: bold;
}
.no {
    color: #F00;
    font-weight: bold;
}

#permission-table .cell, #reports-table .cell, #bans-table .cell, #rules-table .cell  {
    border: 1px solid white;
    margin: 2px;
}
#reports-table {
    padding: 10px;
}
.board-permission {
    border-bottom: 1px solid white;
}

/* board list */
.boards-table {
   display: table;
   border-collapse: collapse;
}
.boards-table .cell {
    border: 1px solid white;
    padding: 5px;
}

/* post */
.modpost {
   color: #393;
    font-weight: bold;
}
.adminpost {
    color: #939;
    font-weight: bold;
}
.post-subject {
    color: #60a0dc;
    font-weight: bold;
    font-size: 1.4em;
}
.post-name {
    color: #93e3ff;
    font-weight: bold;
}
.post-tripcode {
    color: #93e3ff;
}
#content {
    color: white;
    margin: 0 auto;
    max-width: 1366px;
}
#singlepost {
    border: 1px solid #60a0dc;
    border-radius: 5px;
    background-color: #343439;
}
div[id^="singleanswer"] {
    border: 1px solid #60a0dc;
    border-radius: 5px;
    background-color: #343439;
}

/* thread */
.location {
   font-size: 0.9em;
}
.thread {
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 5px;
}
div[id^="answer"] {
    background-color: #343439;
}
.fileinfo_single {
    background-color: #202020;
    border-bottom: 1px solid #111;
}
.file_single {
    background-color: #202020;
    border-right: 1px solid #111;
}
.file_multiple {
    background-color: #252525;
    border: 1px solid #111;
}
.filecontainer {
    font-size: 1em;
}
.postinfo {
    background-color: #44444f;
    border-bottom: 1px solid #1C1C1C;
}

div[id^="answer"][class="first"] {
    background-color: #1C1C1C;
}
div[id^="answer"][class="first"] .postinfo {
    background-color: #252525;
}

.thread-hide-notification {
    border: rgba(255, 255, 255, 0.25) 2px outset;
}

.answers .answer {
    border: 1px solid #60a0dc;
    border-radius: 5px;
}
.answers .highlight {
    border: 3px dashed #60a0dc;
    border-radius: 5px;
}

.nav-page-link:hover {
    text-decoration: none;
    color: #93e3ff;
}

/* thread mechanics */
.expand {
   font-size: 0.95em;
}
.contract {
    font-size: 0.95em;
}

/* threadlist */
#threadlist {
    font-size: 1.2em;
}
#threadlist .cell {
    border: 1px solid white;
}

/* settings */
.dropdown {
    background: #393939;
}

.nav-dropdown {
    transition: background-color 250ms ease-in-out;
}

.nav-dropdown:active {
    background-color: #60a0dc;
    transition: background-color 250ms ease-in-out;
}

#dropdown-navigation a {
    transition: background-color 250ms ease-in-out;
}

#settings-icon {
    -webkit-tap-highlight-color: transparent;
    transition: background-color 250ms ease-in-out;
}

#settings-icon:active {
    background-color: #60a0dc;
    transition: background-color 250ms ease-in-out;
}

#dropdown-navigation a:active {
    background-color: lightblue;
    transition: background-color 250ms ease-in-out;
}

.tablink {
    color: #60a0dc;
}

.tablink.active {
    border-bottom: 1px solid #393939;
}

.banned {
    color: red;
    font-weight: bold;
}

.hidden-threads .threadsubject {
    color: #60a0dc;
}

.post-sage {
    color: #60a0dc;
    font-weight: bold;
}

.post-rage {
    color: red;
    font-weight: bold;
}

.post-tsundere {
    color: #999900;
    font-weight: bold;
}

.post-love {
    color: deeppink;
    font-weight: bold;
}