body {
    height: 100%;
}
.op-post {
}
html, body, #wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.25em 0;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

button:hover, [class^="button"]:hover {
    cursor: pointer;
}

::placeholder {
    color: #333;
}

.username-label {
    font-weight: bold;
}

.horline {
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #999;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: 15px 0px;
}

.horline.tab-horline {
    position: relative;
    top: -3px;
    margin: 0;
}

.loading-cache {
    display: none;
}

/* frontpage */
#frontpage-content {
    display: grid;
    max-width: 1366px;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
}

#postform-frontpage {
    margin: 2px 5px;
}

#news {
    margin: 5px;
    min-height: 50vh;
}

#mainstuff {
    margin: 1em;
}

#mainstuff p {
    margin: 1em 0;
}

.fp-post {
    margin: 2px 5px;
}
.fp-post p {
    margin-left: 5px;
}

.fp-postinfo {
    padding-left: 5px;
}

/* search */
.searchresults {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.searchresults div[class^="cell"] {
    padding: 5px;
}
.searchresults .cell-board {

}
.searchresults .cell-subject {

}

/* tooltips */
a.tooltip {outline:none; line-height: 26px; margin-left: 4px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip .tooltip-out {
    z-index:10;display:none;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover .tooltip-out{
    display:inline; position:absolute;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 1.1em;
}

.tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 10;
}

.tooltip:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.singlepost-tooltip {
    z-index: 10;
    display: none;
    position: fixed;
    margin-top: 30px;
}

.help-tooltip-header {
    padding: 3px;
}

.embed-sources {
    padding: 0.5em;
}

/*CSS3 extras*/
a.tooltip .tooltip-out
{
    width: auto;
    white-space: nowrap;
}

/* general */
.boardnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4em;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    z-index: 2;
}

.navigation, .nav-boards {
    display: flex;
    align-items: stretch;
}

.navigation a {
    display: flex;
    align-items: center;
}

.nav-boards {
    margin-left: 0.5em;
}

.nav-page {
    margin: 0 0.33em;
}

.nav-board {
    border-left: 1px solid #aaa;
    padding: 0 0.5em;
}

.navigation a:hover {
    text-decoration: none;
}

.settings {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 4em;
    grid-gap: 0.5em;
    height: 100%;
}

#settings-icon {
    display: grid;
    height: 100%;
    width: 100%;
}

#settings-icon img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#post-operations {
    display: none;
    z-index: 10;
    position: fixed;
    padding: 5px;
    bottom: 1em;
    right: 1em;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.notice {
    text-align: center;
    padding: 2px;
}

/* sidebar */
#left {
    width: 190px;
    height: 100%;
    padding: 0px 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: auto;
}

#left #logo {
    margin-top: 5px;
    text-align: center;
}
#left #logo a:hover {
    background: transparent;
}

/* login */
#uname, #password {
    margin-top: 2px;
    width: 98%;
    float: left;
}
.login .row {
    text-align: left;
}
.login .cell {
    text-align: left;
}
.login input {
    float: none;
}

#left h1 {
    margin: 5px 0px;
    padding: 5px;
    text-align: center;
}

.category {
    margin-top: 5px;
}

.unsub {
    text-align: right;
}
.sub {
    text-align: right;
}

.fb-header {
    margin-top: 5px;
}

#left a {
    display: block;
}

#board-actions {
    text-align: right;
}
#board-actions .button {
    padding: 10px;
    display: inline-block;
}

#right-mobile {
    margin: 15vh 5px 0px 208px;
    padding: 0px 5px;
}
#right {
    padding: calc(4em + 20px) 5px;
}

.nav-pages {
    display: flex;
    max-width: 30em;
    margin: 1em 0;
}

.nav-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-align: center;
    flex-grow: 1;
}

.boardnav-right {
    height: 100%;
    width: 50%;
    text-align: right;
}
.boardnav-right img {
    height: 100%;
}

.boardnav-left {
    height: 100%;
    width: 50%;
}
.boardnav-left span {
    vertical-align: middle;
}

/* postform */

.postform  {
    display: grid;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 10em;
    align-items: center;
}

.postform-content {
    display: grid;
    grid-column: 1 / -1;
    grid-gap: 0.2em;
    grid-template-columns: 100px minmax(1px, 1fr) 96px 96px;
}

.postform-label {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.postform-field, .postform-content input, .postform-content textarea {
    grid-column: 2 / 5;
}

.postform-selections {
    display: grid;
    grid-template-columns: repeat(4, 2em 4em);
}

@media (max-width: 420px) {
    .postform-selections {
        grid-template-columns: repeat(2, 2em 4em);
    }
}

.postform-selections input {
    grid-column: initial;
}

#embed_code {
    grid-column: initial;
}

.postform-content #subject {
    grid-column: 2 / 5;
}

.postform-content #submit {
    grid-column: initial;
}

#attachments {
    grid-column: 2 / 4;
}

@media (max-width: 420px) {
    .postform .tooltip {
        display: none;
    }
    #embed_code {
        grid-column: 2 / 4;
    }
    #attachments {
        grid-column: 2 / 5;
    }
}

.postform-content input {
    height: 1.66em;
}

.postform-content input[type="checkbox"] {
    height: initial;
}

.postform-subject {
    display: grid;
    grid-template-columns: 1fr 96px;
    align-items: center;
    grid-gap: 2px;
}

.postform-content textarea {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
}

.postform-frontpage textarea {
    width: 90%;
    height: 200px;
}

.common-top {
    margin-top: 44px;
}

.stats {
    text-align: center;
}

.title {
    text-align: center;
    line-height: 40px;
}

.title_sub {
    text-align: center;
}

.table-container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
}
.active-logins {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.row {
    display: table-row;
}

div[class^="cell"] {
    display: table-cell;
    vertical-align: middle;
}

.noalign-cell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
#embed-cell {
    text-align: left;
}
#embed-cell #post_embed_source {
    margin-top: 1px;
    height: 26px;
}

.notsowide {
    width: 96px;
}

#post_name {
    float: left;
    width: 100%;
}

#post_embed_code {
    float: left;
}

#namefield-notify {
    float: left;
}

.form-createboard {
    width: 600px;
}
.form-createboard .cell {
    padding-left: 5px;
    text-align: left;
}

#modpost {
    text-align: left;
}

label {
    font-weight: bold;
}

.label {
    display: inline-block;
    height: 100%;
}

select {
    float: left;
    margin-top: 2px;
}

#post_board_id {
    width: 100%;
}

h1 {
    text-align: center;
}

/* adminpanel */
#board-settings {
    display: grid;
    grid-template-columns: 500px 1fr;
}
#permission-table, #reports-table, #bans-table, #rules-table {
    display: table;
    border-collapse: collapse;
}
#permission-table .cell, #reports-table .cell, #bans-table .cell, #rules-table .cell {
    text-align: center;
    padding: 3px;
}

.board-permission {
    padding: 2px;
}

/* banform */
#banform {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#banform input {
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
}

/* post */
video {
    height: 240px;
}
.post-subject {
    margin: 0;
    overflow: hidden;
}
.location {
    padding-bottom: 6px;
}
a.thumb {
    display: grid;
}

#singlepost {
    min-width: 0px;
}
.spoiler {
    color: black;
    background-color: black;
    border-radius: 3px;
}
.spoiler:hover {
    color: white;
}

.bluequote {
    color: #61A0DB;
}

.greenquote {
    color: green;
}

/* thread */
.thread {
    margin: 3px;
}
div[id^="answer"] {
    display: inline-block;
    max-width: 100%;
}
.post p {
    margin: 0.66em;
}

.file_single {
    float: left;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
}
.file_multiple {
    display: inline-block;
    max-width: calc(100% - 2px);
}
.file_multiple iframe {
    max-width: 100%;
    object-fit: cover;
}
.filecontainer {
    display: grid;
    padding: 5px;
    max-width: calc(100% - 10px);
}
.fileinfo {
    overflow: hidden;
}
.postinfo {
    padding: 0.5em;
}

.post-inforow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 6px;
}

.post-inforow > * {
    margin-right: 0.33em;
}

.post-inforow > .button {
    margin: 0;
}

.hide-thread, .report-post {
    display: grid;
    justify-items: center;
    align-items: center;
}

.post {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

div[id^="answer"][class="first"] {
    height: 100%;
    width: 100%;
}

.answers {
    padding-left: 3px;
}
.answers div[id^="answer"] {
    width: auto;
    margin-top: 0.5em;
}


.answercontainer {
    width: 100%;
}

/* thread mechanics */
.hidden {
    display: none;
}

/* threadlist */
#threadlist {
    display: table;
    border-collapse: collapse;
}
#threadlist .cell {
    display: table-cell;
    text-align: left;
    min-width: 300px;
}

.dropdown {
    position: fixed;
    top: 55px;
    display: none;
}

#settings-dropdown {
    width: auto;
    right: 0;
}

#menu-dropdown {
    left: 0;
}

#dropdown-navigation {
    display: grid;
}

#dropdown-navigation a {
    font-size: 2em;
    text-decoration: none;
    padding: 0.5em;
}

.tab.hidden {
    display: none;
}
.tab-content {
    margin: 1em;
}
.tab {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    padding-bottom: 1em;
}
.tab-links {
    display: flex;
    justify-content: center;
    text-align: right;
}
.thread-hide-notification {
    border-radius: 6px;
    margin: 3px;
    padding: 0.5em;
}
.hidden_thread {
    border: 2px outset;
    display: grid;
    border-collapse: collapse;
    align-items: stretch;
    grid-template-columns: 10em 1fr 1fr 3em;
    border-radius: 6px;
}

.hidden_thread > div {
    border-right: 1px solid;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}
.hidden_thread .unhide {
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#changepassword .label {
    width: 200px;
}

.grid {
    display: grid;
}

.rules {
    grid-template-columns: repeat(3, 1fr);
}

.board-bans {
    grid-template-columns: repeat(5, 1fr);
}

.reports {
    grid-template-columns: repeat(5, 1fr);
}

.permissions {
    grid-template-columns: repeat(9, 1fr);
}

.permission-checkbox {
    display: none;
}

.permission-checkbox {
    display: none;
}

.checkmark {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.permission-label input ~ .checkmark-no {
    display: block;
}

.permission-label input ~ .checkmark-yes {
    display: none;
}

.permission-label input:checked ~ .checkmark-no {
    display: none;
}

.permission-label input:checked ~ .checkmark-yes {
    display: block;
}

span[class^="checkmark"] {
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    padding: 3px;
    text-align: center;
}

span[class^="checkmark"]:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}

.checkmark-yes {
    color: green;
}

.checkmark-no {
    color: red;
}

.permission-cell {
    border-bottom: 1px solid white;
}

.settings-grid {
    display: grid;
    grid-gap: 0.5em;
    align-items: center;
    grid-template-columns: 15em 1fr;
}

.settings-grid > * {
    padding: 0.33em;
}

.settings-grid > .button {
    justify-self: start;
    grid-column: -1 / 1;
}

.settings-section {
    padding: 1em;
}

.settings-form {
    width: 35em;
}

.checkbox-grid .checkbox-container {
    text-align: right;
}

.checkbox-grid span {
    grid-column: span 2;
}

.settings-select {
    width: 150px;
}

.report, .ban {
    display: none;
    position: fixed;
    left: 50px;
    top: 50px;
    width: 400px;
    padding: 10px;
}

.duration-buttons {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 1em;
}

.ban-global {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
    align-items: center;
}

.report-contents {
    display: grid;
    grid-gap: 1em;
    margin-bottom: 1em;
    grid-template-rows: repeat(auto-fill, 1fr);
}

.report input[type="text"] {
    width: calc(100% - 5px);
}

.report select {
    width: 100%;
}

.chat-container {
    width: 700px;
    height: 800px;
}

#chat-top {
    border-bottom: 1px solid black;
    height: 50px;
}
#chat-middle {
    height: 500px;
    background: #AAAAAA;
}
#chat-bottom {
    color: black;
    height: 100px;
}
#chat-messages {
    color: black;
    float: left;
    width: 500px;
    height: 500px;
    overflow: auto;
}
#chat-online {
    color: black;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    width: 188px;
    height: 500px;
}
#messagefield-container {
    bottom: 20px;
}
#message {
    outline: none;
    width: 100%;
    height: 100%;
    border: 3px solid #cccccc;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 8px 0px black;
    -moz-box-shadow:    3px 3px 8px 0px black;
    box-shadow:         3px 3px 8px 0px black;
}
#submit-container {
    width: 180px;
}
#footer {
    height: 150px;
}

.tablink {
    margin: 2px;
    padding: 3px;
    flex-basis: 25%;
    max-width: 20em;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    background: transparent;
    border-radius: 0;
    outline: 0;
    min-width: initial;
    line-height: inherit;
    box-sizing: content-box;
    font: inherit;
}
.tablink:hover {
    cursor: pointer;
    z-index: 10;
    background: transparent;
}
.tablink.active {
    margin: 2px;
    padding: 3px;
    text-decoration: none;
    z-index: 10;
}
.tablink:focus {
    outline: 0;
}

.boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 2em);
}

.hidden-threads {
    max-height: 20em;
    padding-right: 1em;
    overflow-y: auto;
}

.media-container {
    position: relative;
    display: block;
    min-height: 200px;
}

.media-container .post-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.orig-image {
    display: none;
}
.thumb-image {
    display: block;
}

.play-media {
    position: absolute;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.media-container .video {
    min-width: 600px;
    min-height: 600px;
    max-width: 1366px;
    z-index: 0;
}

.media-container .nothumb {
    max-height: 200px;
    min-height: auto;
    min-width: auto;
}

.play-media .play {
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 1;
    justify-items: center;
    align-items: center;
}

.play-media .play img {
    max-width: 20%;
    max-height: 20%;
    object-fit: contain;
}

.play-media .exit {
    max-width: 20%;
    max-height: 20%;
    margin: 1em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.code {
    margin-left: 1em;
    padding-left: 0.5em;
    margin-right: 0.5em;
    white-space: pre-wrap;
    background-color: #444;
    border-left: 5px solid #111;
    font-family: monospace;
}

.supported-formats {
    margin: 1em;
}

.file-format-list {
    font-family: monospace;
}

.navigation-mobile {
    position: relative;
    display: none;
    height: 100%;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.navigation-mobile:hover {
    cursor: pointer;
}

.nav-dropdown {
    position: absolute;
    display: grid;
    grid-gap: 0.5em;
    padding: 0.5em;
    width: 35px;
    align-items: center;
    height: 100%;
}

.nav-dropdown img {
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: contain;
}

.bottom-options {
    display: grid;
    justify-items: center;
    align-items: center;
}

@media (max-width: 800px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: flex;
    }
}

@media (max-width: 700px) {
    #frontpage-content {
        grid-template-columns: 1fr;
    }
    #mainstuff {
        order: -1;
    }
}

.invisible {
    display: none;
}