<h1>{{board.name}} {{t "adminpanel"}}</h1>
<div id="board-settings">
    {{#contains user.permissions "change_settings"}}
        <form action="/{{board.url}}/edit" id="board-properties" method="post">
            <h2>{{t "board_properties"}}</h2>
            <div class="settings-grid">
                <div><label for="board-properties-name">{{t "board_name"}}</label></div>
                <div class="noalign-cell"><input type="text" value="{{board.name}}" id="board-properties-name" name="name"></div>

                <div><label for="board-properties-description">{{t "description"}}</label></div>
                <div class="noalign-cell"><textarea name="description" id="board-properties-description">{{board.description}}</textarea></div>

                <div><label for="board-properties-namefield">{{t "namefield"}}</label></div>
                <div class="noalign-cell">
                    <select name="namefield" id="board-properties-namefield">
                        <option value="0" {{#eq board.namefield 0}}selected{{/eq}}>{{t "new_board_namefield0"}}</option>
                        <option value="1" {{#eq board.namefield 1}}selected{{/eq}}>{{t "new_board_namefield1"}}</option>
                        <option value="2" {{#eq board.namefield 2}}selected{{/eq}}>{{t "new_board_namefield2"}}</option>
                    </select>
                </div>

                <div><label for="board-properties-international">{{t "international"}}</label></div>
                <div class="noalign-cell"><input type="checkbox" id="board-properties-international" name="international" {{#if board.international}}checked{{/if}}></div>

                <div><label for="board-properties-worksafe">{{t "worksafe"}}</label></div>
                <div class="noalign-cell"><input type="checkbox" id="board-properties-worksafe" name="worksafe" {{#if board.worksafe}}checked{{/if}}></div>

                <div><label for="board-properties-hidden">{{t "hidden"}}</label></div>
                <div class="noalign-cell"><input type="checkbox" id="board-properties-hidden" name="hidden" {{#if board.hidden}}checked{{/if}}></div>

            </div>
            <input type="submit" value="{{t "save_settings"}}" name="submit" class="button">
        </form>
    {{/contains}}

    {{#eq user.id board.board_user}}
        <div id="board-permissions">
            <h2>{{t "admin_privileges"}}</h2>
            {{#if board.permissions}}
                <div class="grid permissions">

                    <div class="cell">{{t "username"}}</div>
                    {{#each possible_permissions}}
                        <div class="cell">{{t this}}</div>
                    {{/each}}

                    {{#each board.permissions}}
                        <div class="cell permission-cell">
                            {{this.username}}
                        </div>
                        {{#each this.permissions}}
                            <div class="cell permission-cell">
                                <label class="permission-label" for="perm-{{../this.user}}-{{../../board.id}}-{{this.permission}}">
                                    <input type="checkbox"
                                           id="perm-{{../this.user}}-{{../../board.id}}-{{this.permission}}"
                                           class="permission-checkbox"
                                           data-user="{{../this.user}}"
                                           data-board="{{../../board.id}}"
                                           data-permission="{{this.permission}}"
                                           {{#if this.value}}checked{{/if}}>
                                    <span class="checkmark-yes">V</span>
                                    <span class="checkmark-no">X</span>
                                </label>
                            </div>
                        {{/each}}
                    {{/each}}
                </div>
            {{/if}}

            <h3>{{t "add_permission"}}</h3>

            <form action="/permissions" method="post">
                <input type="hidden" name="board" value="{{board.id}}">
                <div id="permission-form" class="settings-grid">
                    <div><label for="board-permissions-username">{{t "username"}}</label></div>
                    <div class="noalign-cell"><input type="text" name="username" id="board-permissions-username"></div>

                    {{#each possible_permissions}}
                        <div><label for="board-permissions-{{this}}">{{t this}}</label></div>
                        <div>
                            <label class="permission-label" for="perm-{{this}}">
                                <input type="checkbox"
                                       id="perm-{{this}}"
                                       name="perm-{{this}}"
                                       class="permission-checkbox">
                                <span class="checkmark-yes">V</span>
                                <span class="checkmark-no">X</span>
                            </label>
                        </div>
                    {{/each}}
                </div>
                <input type="submit" class="button" name="{{t "save_settings"}}" value="{{t "save_settings"}}">
            </form>
            <a href="/{{board.url}}" class="button button-warn" id="deleteboard">{{t "delete_board"}}</a>
            <br>
        </div>
    {{/eq}}

    {{#contains user.permissions "check_reports"}}
        <div class="board-reports">
            <h2>{{t "reports"}}</h2>
            <div class="grid reports">
                <div class="cell">
                    {{t "post"}}
                </div>
                <div class="cell">
                    {{t "reason"}}
                </div>
                <div class="cell">
                    {{t "description"}}
                </div>
                <div class="cell">
                    {{t "date"}}
                </div>
                <div class="cell">
                    {{t "check"}}
                </div>

                {{#each board.reports}}
                    <div class="cell">
                        <span class="reference">
                            <a href="/redirect/{{this.post}}">{{this.post}}</a>
                        </span>
                    </div>
                    <div class="cell">
                        {{this.reason_name}}
                    </div>
                    <div class="cell">
                        {{this.description}}
                    </div>
                    <div class="cell">
                        {{time this.created_at}}
                    </div>
                    <div class="cell">
                        <a data-delete href="/reports/{{this.id}}">{{t "checked"}}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/contains}}

    {{#contains user.permissions "ban"}}
        <div>
            <h2>{{t "bans"}}</h2>
            <div class="grid board-bans">
                <div class="cell">
                    {{t "reason"}}
                </div>
                <div class="cell">
                    {{t "added"}}
                </div>
                <div class="cell">
                    {{t "length_expires"}}
                </div>
                <div class="cell">
                    {{t "banned_by"}}
                </div>
                <div class="cell">
                    {{t "actions"}}
                </div>

                {{#each board.bans}}
                    <div class="cell">
                        {{this.reason}}
                    </div>
                    <div class="cell">
                        {{time this.created_at}}
                    </div>
                    <div class="cell">
                        {{time this.expires}}
                    </div>
                    <div class="cell">
                        {{this.banned_by}}
                    </div>
                    <div class="cell">
                        <a href="/unban/{{this.id}}">{{t "unban"}}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/contains}}

    {{#contains user.permissions "change_rules"}}
        <div id="board-rules">
            <h2>{{t "reasons_rules"}}</h2>
            <div class="grid rules">
                <div class="cell">
                    {{t "name"}}
                </div>
                <div class="cell">
                    {{t "description"}}
                </div>
                <div></div>

                {{#each board.report_reasons}}
                    <div class="cell">
                        {{this.name}}
                    </div>
                    <div class="cell">
                        {{this.description}}
                    </div>
                    <div>
                        <a data-delete href="/rules/{{this.id}}">{{t "delete"}}</a>
                    </div>
                {{/each}}
            </div>

            <h3>{{t "add_reason"}}</h3>
            <form action="/rules" method="post">
                <input type="hidden" name="board" value="{{board.id}}">
                <div class="settings-grid">
                    <label for="board-reasons-name" class="label">{{t "name"}}</label>
                    <input type="text" name="name" id="board-reasons-name">
                    <label for="board-reasons-description" class="label">{{t "description"}}</label>
                    <input type="text" name="description" id="board-reasons-description">
                </div>
                <input type="submit" name="submit" value="{{t "add"}}">
            </form>
        </div>
    {{/contains}}
</div>
