extends show
- var i = 0; var u = page - 4;

block pagenav
    if page > 0
        a(href="/:url-:page", class="button") Previous
    else
        span(class="button-unclickable") Previous

    if page <= 4
        while i < Math.min(10, pages)
            a(href=`/${url}-${i + 1}`) #{i + 1}
    else if page > 4
        while u < Math.min(pages - 1, page + 4)
            a(href=`/${url}-${i + 1}`) #{i + 1}

    if page < pages - 1
        a(href=`${url}-${page + 2}`, class="button") Next
    else
        span(class="button-unclickable") Next
