extends ../layout

block content
    div(class="common-top")
        div(class="board-actions")
            if owner
                a(href=`/${url}/mod`) Muokkaa

        p(class="title")
            | #{boardname}&nbsp;
            if worksafe
                font(color="green", size="3") ( SFW )
            else
                font(color="red", size="3") ( NSFW )

        p(class="title_sub") #{description}
        hr(class="horline")

        // Post

        if banned
            div(class="notice") Banned

    div(class="content")
        block pagenav
        block threads
        block pagenav
